﻿@{
    ViewBag.Title = "Customer List";
    ViewBag.ModuleName = "Customers";
    
}
<style>
    .hid {
        display:none;
    }
</style>
<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <button class="btn btn-default vtn-sm" onclick="switchSearch();"><i class="fa fa-search"></i></button>

            <div class="btn-group pull-right btn-sm">
                <button type="button" class="btn btn-default" onclick="refresh()"><span class="fa fa-refresh"></span> Refresh</button>
                <button type="button" class="btn btn-primary" onclick="showPopUp();">
                    <i class="glyphicon glyphicon-plus-sign"></i> Add New
                </button>
            </div>
            
        </div>
        <div class="box-body">
            <div id="gridview" style="">
            </div>
        </div>
        <div class="box-footer">
            
        </div>
    </div>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="myModalLabel">Add Employee Data</h4>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label for="EmployeeId">CustomerID</label>
                                <input type="text" class="form-control" id="CustomerID" placeholder="CustomerID" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Name">CompanyName</label>
                                <input type="text" class="form-control disabled" id="CompanyName" placeholder="CompanyName" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Age">ContactName</label>
                                <input type="text" class="form-control" id="ContactName" placeholder="ContactName" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="State">ContactTitle</label>
                                <input type="text" class="form-control" id="ContactTitle" placeholder="ContactTitle" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Country">Address</label>
                                <input type="text" class="form-control" id="Address" placeholder="Address" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Country">City</label>
                                <input type="text" class="form-control" id="City" placeholder="City" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Country">Region</label>
                                <input type="text" class="form-control" id="Region" placeholder="Region" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Country">PostalCode</label>
                                <input type="text" class="form-control" id="PostalCode" placeholder="PostalCode" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Country">Country</label>
                                <input type="text" class="form-control" id="Country" placeholder="Country" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Country">Phone</label>
                                <input type="text" class="form-control" id="Phone" placeholder="Phone" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Country">Fax</label>
                                <input type="text" class="form-control" id="Fax" placeholder="Fax" />
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                    </div>

                </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var gridview;
    $(function () {
        gridview = $('#gridview').gridView({
            url: "@Url.Action("Paging", "Customers")",
            columns: [
                {
                    header: '', data: 'CustomerID', render: function (data) {
                        return '<a href="#" onclick="showPopUp(\'' + data +'\')"><span class="fa fa-search"></span></a>\
                                <a href="#" onClick="showPopUp()" style="color: green; margin-left: 6px;"><span class="fa fa-edit"></span></a>\
                                <a href= "#" onClick="Delete(\'' + data +'\')" style= "color: red; margin-left: 6px;" ><span class="fa fa-trash"></span></a > ';
                    }
                },
                { header: 'Customer ID', data: 'CustomerID', sortable: true },
                { header: 'Company Name', data: 'CompanyName', sortable: true },
                { header: 'Contact Title', data: 'ContactTitle', sortable: true },
                { header: 'Contact Name', data: 'ContactName', sortable: true },
                { header: 'Address', data: 'Address', sortable: true },
                { header: 'City', data: 'City', sortable: true }
            ],
            defaultSortExpression: 'CustomerID'
        });
    });

    function showModal(data) {
        alert('You click '+data);
    }

    function refresh() {
        gridview.reload();
    }
</script>

<script src="~/Scripts/custom.js"></script>