﻿
@{
    ViewBag.Title = "Index";
    ViewBag.ModuleName = "Home";
}

<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Dashboard </h3>
        </div>
        <div class="box-body">
            <div id="gridview" style=""> 
            </div> 
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-primary" onclick="refresh()"><span class="fa fa-refresh"></span> Refresh</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var gridview;
    $(function () {
        gridview = $('#gridview').gridView({
            url: "@Url.Action("Paging", "Customers")",
            columns: [
                {
                    header: '', data: 'CustomerID', render: function (data) {
                        return '<a href="#" onclick="showModal(\'' + data +'\')"><span class="fa fa-search"></span></a>\
                                <a href="#" style="color: green; margin-left: 6px;"><span class="fa fa-edit"></span></a>\
                                <a href= "#" style= "color: red; margin-left: 6px;" ><span class="fa fa-trash"></span></a > ';
                    }
                },
                { header: 'Customer ID', data: 'CustomerID', sortable: true },
                { header: 'Company Name', data: 'CompanyName', sortable: true },
                { header: 'Contact Title', data: 'ContactTitle', sortable: true },
                { header: 'Contact Name', data: 'ContactName', sortable: true },
                { header: 'Address', data: 'Address', sortable: true },
                { header: 'City', data: 'City', sortable: true }
            ],
            defaultSortExpression: 'CustomerID'
        }); 
    });

    function showModal(data) {
        alert('You click '+data);
    }

    function refresh() {
        gridview.reload();
    }
</script>

