﻿
@{
    ViewBag.Title = "Index";
    ViewBag.ModuleName = "Customers";
}

@section scripts
{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
    var Apx;
    $(function () {
        Apx = {
            grid: null,
            init: function () {
                this.initGrid();
                $('#actionCreate').on('click', Apx.loadActionCreate);
            },
            initGrid: function () {
                var elm = $('#gridview');
                this.grid = elm.gridView({
                    url: "@Url.Action("Paging", "CustomerNew")",
                    columns: [
                        {
                            header: '', data: 'CustomerID', render: function (data) {
                                return '<a href="#" onclick="showPopUp(\'' + data + '\')"><span class="fa fa-search"></span></a>\
                                        <a href="#" onClick="showPopUp()" style="color: green; margin-left: 6px;"><span class="fa fa-edit"></span></a>\
                                        <a href= "#" onClick="Delete(\'' + data + '\')" style= "color: red; margin-left: 6px;" ><span class="fa fa-trash"></span></a > ';
                            }
                        },
                        { header: 'Customer ID', data: 'CustomerID', sortable: true },
                        { header: 'Company Name', data: 'CompanyName', sortable: true },
                        { header: 'Contact Title', data: 'ContactTitle', sortable: true },
                        { header: 'Contact Name', data: 'ContactName', sortable: true },
                        { header: 'Address', data: 'Address', sortable: true },
                        { header: 'City', data: 'City', sortable: true }
                    ],
                    defaultSortExpression: 'CustomerID'
                })
            },
            gridAction: function (data) {

            },
            loadActionCreate : function (event) {
                event.preventDefault();
                var url = $(this).attr('href');
                $.post(url, function (data) {
                    $('#data-detail').html(data);
                    $('#modal-container').modal();
                })
            },
            AjaxOnSuccess: function (data) {
                if (data !== 'ok') {
                    $('#data-detail').html(data);
                    return;
                }
                $('#modal-container').modal('hide');
                $('#data-detail').html("");
                Apx.grid.reload();
            }
        };
        Apx.init();
    });

    function showModal(data) {
        alert('You click '+data);
    }

    function refresh() {
        gridview.reload();
    }
    </script>
}

<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <button class="btn btn-default vtn-sm" onclick="switchSearch();"><i class="fa fa-search"></i></button>

            <div class="btn-group pull-right btn-sm">
                <button type="button" class="btn btn-default" onclick="refresh()"><span class="fa fa-refresh"></span> Refresh</button>
                <button type="button" id="actionCreate" class="btn btn-primary" href="@Url.Action("Create","CustomerNew")">
                    <i class="glyphicon glyphicon-plus-sign"></i> Add New
                </button>
            </div>

        </div>
        <div class="box-body">
            <div id="gridview" style="">
            </div>
        </div>
        <div class="box-footer">

        </div>
    </div>
</div>

<div id="modal-container" class="modal fade" data-backdrop="static">
    <div id="data-detail"></div>
</div>